.error-window{
    position: fixed;
    display: flex;
    align-items: center;
    width: 250px;
    background-color: rgb(255, 12, 12);
    bottom: 25px;
    right: 25px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    button{
        font-weight: bold;
        color: white;
        padding: 10px 15px;
        margin: 0 10px;
        border-radius: 50%;
        border: 1px solid rgb(255, 12, 12);
        background-color: rgb(255, 12, 12);
    }
    button:hover{
        cursor: pointer;
        color: rgb(255, 12, 12);
        border: 1px solid rgb(255, 12, 12);
        transition: 0.5s;
        background-color: white;
    }
    p{
        user-select: none;
    }
}